.contactContainer {
  width: 100%;
  display: grid;
  margin: 0 auto;
}
.title {
  font-size: var(--xl-plus);
}

.contactInfo {
  display: grid;
  grid-gap: 1.5rem;
  margin-top: 2rem;
}
.contactInfo span {
  font-family: var(--nunito);
  letter-spacing: 0.8px;
  line-height: 1.6;
}
.contactInfo p {
  font-size: var(--md);
}
.contactInfo h2 {
  font-size: var(--xl-plus);
  font-family: var(--nunito);
  color: var(--green-200);
}
.mailto {
  border-bottom: var(--border-gray200);
}
.imageWrapper {
  width: 100%;
  height: auto;
}
.imageWrapper img {
  border-radius: 6px;
  /* border: var(--border-gray); */
}

@media only screen and (min-width: 500px) {
  .contactContainer {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
  }
  .addressWrapper {
    grid-column: 2 / span 10;
  }
  .title {
    font-size: var(--xxl);
  }
}
@media only screen and (min-width: 600px) {
  .contactInfo h2 {
    font-size: var(--xxl);
  }
}
@media only screen and (min-width: 700px) {
  .addressWrapper {
    grid-column: 3 / span 8;
  }
  .title {
    font-size: var(--xxl-plus);
  }
}

@media only screen and (min-width: 800px) {
  .addressWrapper {
    grid-column: 4 / span 6;
  }
}
@media only screen and (min-width: 992px) {
  .contactContainer {
    grid-template-rows: auto 1fr;
    overflow: hidden;
    grid-gap: 1rem;
  }

  .addressWrapper {
    grid-column: 2 / span 10;
  }

  .contactInfo {
    margin-top: 6.5rem;
  }
}

@media only screen and (min-width: 1400px) {
  .addressWrapper {
    grid-column: 3 / span 10;
  }
}
