.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--black-200);
  padding: 2rem 0;
  background-color: transparent;
}
.ul {
  display: flex;
  gap: 1rem;
}
