.heroButton {
  background-color: var(--white);
  color: var(--black-200) !important;
  transition: 0.2s ease-in-out;
}
.heroButton:hover {
  background-color: var(--bg-black100);
  color: var(--white) !important;
}
@media only screen and (min-width: 580px) {
  .heroButton {
    max-width: 20rem;
  }
}

/*
@media (max-width: 420px) {
  .heroImage {
    linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8)),url(../img/hero-small.jpg); */
/*   background-image: var(--image-sm);
    background-size: cover;
    background-position: top;
  }
} */
