.span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px 0;
  padding: 0 1rem;
}
.span hr {
  width: 10rem;
  margin: 0 10px;
  border: none;
  height: 1px;
  background-color: var(--bg-gray);
}
.buttonWrapper {
  padding: 2.5rem 1rem 0 1rem;
  width: 100%;
  margin-bottom: 62px;
}
.button {
  background-color: var(--gray);
  transition: all 0.2s ease-in-out;
}
.button:hover {
  background-color: var(--green-300);
  color: var(--white);
}
@media only screen and (min-width: 500px) {
  .buttonWrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
  }
  .button {
    width: 100% !important;
    grid-column: 2 / span 10;
  }
}
@media only screen and (min-width: 600px) {
  .buttonWrapper {
    padding: 2.5rem 2rem 0 2rem;
  }
}
@media only screen and (min-width: 700px) {
  .button {
    grid-column: 3 / span 8;
  }
}
@media only screen and (min-width: 800px) {
  .button {
    grid-column: 4 / span 6;
  }
}
@media only screen and (min-width: 992px) {
  .buttonWrapper {
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem 0 0 0;
  }
  .button {
    grid-column: 2 / span 10;
  }
}
